
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overscroll-behavior: none;
  overflow: hidden;
  user-select: none;
}

.volume-slider {
  -webkit-appearance: none;
  height: 4px;
  @apply bg-gradient-to-r from-ubuntu-blue-1 to-ubuntu-blue-1 bg-ubuntu-gray-1 rounded-s bg-no-repeat; 
}

.volume-slider::-moz-range-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  cursor: pointer;
  @apply bg-white h-5 w-5;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  cursor: pointer;
  @apply bg-white h-5 w-5;
}

.top-bar-window{
  margin-left: 50%;
  /* margin-right: auto; */
}

.shut-down-spinner{
  animation-name: spin;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* .wallpaper[data-loading=true]:after {
  content: '';
  filter: blur(20px);
  background-image: url('/images/jellyfish-downscaled.png');
} */

.wallpaper {
  /* width: 100vw;
  height: 100vh; */
  width: 100%;
  height: 100%;
  background-image: var(--highRes);
  background-size: cover;
}

.wallpaper:after {
  content: '';
  /* z-index: 100; */
  /* width: 100vw;
  height: 100vh; */
  width: 100%;
  height: 100%;
  /* position: absolute;
  top: 0;
  left: 0; */
  background-image: var(--lowRes);
  background-size: cover;
  filter: blur(20px);
  transition: opacity .5s;
  pointer-events: none;
  background-position: 50%;
  margin: -20px -20px -20px -20px;
}

.wallpaper[data-loading=true]:after {
  opacity: 100%
}
.wallpaper[data-loading=false]:after {
  opacity: 0;
}
