@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overscroll-behavior: none;
  overflow: hidden;
}

.drop-down-expand-enter {
  transition: max-height 0.2s ease-in;
  @apply max-h-0 overflow-hidden;
}
.drop-down-expand-enter-active {
  @apply h-auto max-h-28;
}
.drop-down-expand-exit {
  transition: max-height 0.2s ease-in;
  @apply max-h-28;
}
.drop-down-expand-exit-active {
  @apply max-h-0 overflow-hidden;
}

.volume-slider {
  -webkit-appearance: none;
  height: 4px;
  @apply bg-gradient-to-r from-ubuntu-blue-1 to-ubuntu-blue-1 bg-ubuntu-gray-1 rounded-s bg-no-repeat; 
}

.volume-slider::-moz-range-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  cursor: pointer;
  @apply bg-white h-5 w-5;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  cursor: pointer;
  @apply bg-white h-5 w-5;
}