.drop-down-expand-enter {
  transition: max-height 0.2s ease-in;
  @apply max-h-0 overflow-hidden;
}
.drop-down-expand-enter-active {
  @apply h-auto max-h-28;
}
.drop-down-expand-exit {
  transition: max-height 0.2s ease-in;
  @apply max-h-28;
}
.drop-down-expand-exit-active {
  @apply max-h-0 overflow-hidden;
}

/* .close-window{
    transform: scale(10, 0.5);
    opacity: 0;
} */

/* .close-window-enter {
   transform: scale(0%);
   transition: 0.4s linear;
 }
.close-window-enter-active {
   transform: scale(100%);
 } */

.close-window-exit{
    opacity: 1;
}

.close-window-exit-active {
    /* transform: scale(3, 0.5);
    transition: transform 0.4s ease-in; */
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 200ms, transform 200ms;
  /* transform: scale(0.9);
  transition: transform 300ms; */
}

.minimize-window-exit{
  opacity: 1;
}

/* .minimize-window-exit-active{
  opacity: 0;
  transform: scale(0.3) translate(-100%, 0);
  transition: opacity 200ms, transform 200ms linear;

}; */
