.all-transition{
  transition: all 250ms ease;
}

.drop-down-expand-enter {
  transition: max-height 0.2s ease-in;
  @apply max-h-0 overflow-hidden;
}
.drop-down-expand-enter-active {
  @apply h-auto max-h-28;
}
.drop-down-expand-exit {
  transition: max-height 0.2s ease-in;
  @apply max-h-28;
}
.drop-down-expand-exit-active {
  @apply max-h-0 overflow-hidden;
}

.close-window-enter{
    opacity: 1;
}

.close-window-enter-active {
  opacity: 0;
  transform: scale(0.8);
  @apply all-transition
}

.initialize-window-enter{
  transform: scale(0.2);
}

.initialize-window-enter-active{
  transform: scale(1);
  @apply all-transition
}

.fullscreen-window-enter {
  @apply all-transition
}

.show-applications-enter {
  @apply w-full h-full;
}

.show-applications-enter-active {
  @apply w-1/5 h-1/5 min-w-background-image min-h-background-image my-4 all-transition;
}

.show-applications-enter-done {
  @apply w-1/5 h-1/5 min-w-background-image min-h-background-image my-4;
}

.show-applications-exit{
  @apply w-1/5 h-1/5 min-w-background-image min-h-background-image my-4;
}

.show-applications-exit-active {
  @apply w-full h-full my-0 all-transition;
}

.show-applications-exit-done {
  @apply w-full h-full my-0;
}

.lock-screen-enter {
  @apply bottom-full;
}

.lock-screen-enter-active {
  @apply bottom-0 all-transition;
}

.lock-screen-exit {
  @apply bottom-0;
}

.lock-screen-exit-active {
  @apply bottom-full all-transition;
}

.shut-down-enter, .restart-session-enter{
  @apply opacity-0;
}

.shut-down-enter-active, .restart-session-active{
  @apply opacity-100 all-transition;
}

.shut-down-exit, .restart-session-exit{
  @apply opacity-100;
}

.shut-down-exit-active, .restart-session-exit-active{
  @apply opacity-0 all-transition;
}

